/*
 * You can say something about your file if you need it!
 */
/*-------------------------*/
/* $Catalog 
---------------------------*/
/** 
 * Globel
 * Elements
 * Header
 * About
 * Quote
 * Skill
 * Experience
 * Work
 * Contact
 * Footer
 * Parallax graphic
**/


/*-------------------------*/
/* $Globel
---------------------------*/

/*-------------------------*/
/* $Elements
---------------------------*/

/* background 
---------------------*/
.bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../image/ellie background.jpg");
    background-size: cover;
    background-position: center;

}


/* lean-bg
---------------------*/
.lean-bg--top:before,
.lean-bg--bottom:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 180px;
    background-color: #fefefe;

}
@media (max-width: 768px){
    .lean-bg--top:before,
    .lean-bg--bottom:after{
        height: 80px;
    }
}
.lean-bg--top:before{
    top: 0;
    transform: skewY(-5deg) translateY(-50%);
}
.lean-bg--bottom:after{
    bottom: 0;
    transform: skewY(-5deg) translateY(50%);
}
.lean-bg--top{
    margin-top: 160px;
}
@media (max-width: 768px){
    .lean-bg--top{
        margin-top: 80px;
    }
}
.lean-bg--bottom{
    margin-bottom: 160px;
}
@media (max-width: 768px){
    .lean-bg--bottom{
        margin-bottom: 80px;
    }
}
.lean-bg--no-margin{
    margin: 0;
}
/* btn
---------------------*/
/* normal */
.btn{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
    background: linear-gradient(60deg,#f7d3b9,#e79096);
    display:inline-block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    border-radius: 28px;
    position: relative;

    transition: all 0.3s;
    overflow: hidden; 
}
.btn:hover{
    padding: 0 25px;
    width: auto;
    background: linear-gradient(60deg,#f7d3b9,#e79096);
}
.btn span{
    white-space: nowrap;
    opacity: 0;
}
.btn:hover span{
    opacity: 1;
}
.btn:after{
    content: "+";
    font-size: 50px;
    line-height: 56px;
    color:#fff;
    position: absolute;
    left: 13px;
    top:0;
}
.btn:hover:after{
    opacity: 0;
}
@media (max-width: 768px){
.btn{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-family: arial;
    background: linear-gradient(60deg,#f7d3b9,#e79096);
    display:inline-block;
    width: 48px;
    height: 48px;
    line-height: 50px;
    border-radius: 28px;
    position: relative;

    transition: all 0.3s;
    overflow: hidden; 
    top: 35px;
}
.btn:hover{
    padding: 0 25px;
    width: auto;
    background: linear-gradient(60deg,#f7d3b9,#e79096);
}
.btn span{
    white-space: nowrap;
    opacity: 0;
}
.btn:hover span{
    opacity: 1;
}
.btn:after{
    content: "+";
    font-size: 42px;
    line-height: 50px;
    color:#fff;
    position: absolute;
    left: 12px;
    top:0;
}
.btn:hover:after{
    opacity: 0;
}
}

/* icon btn */
.icon-btn{
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 24px;
}
.icon-btn .icon{
    display: block;
    text-align: center;
    transition: all 0.3s;
}
.icon-btn .icon:hover{
    transform: translateY(-20%);
}

/* text btn */
.text-btn{
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    font-family: arial,'Raleway', 'Helvetica', 'roboto', sans-serif;
    letter-spacing: 0;
    text-decoration: none;
    color: #e79096;
}
.text-btn.text-btn--primary{
    color: #e79096;
}
.text-btn.text-btn--lg{
    font-size: 20px;
    line-height: 48px;
    height: 48px;
    font-weight: 900;
}
.text-btn.text-btn--lg:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #e79096;
    transition: all 0.3s;
    border-radius: 2px;
}
.text-btn.text-btn--lg:hover:before{
    width: 100%;
}

/* image
---------------------*/
.image{
    width: 100%;
    display: block;
}

/* imgbox
---------------------*/
.imgbox{
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}
.imgbox__inner{
    width: 100%;
    padding-top: 100%;
    position: relative;
}
.imgbox__inner.imgbox__inner--4-3{
    padding-top: calc(100% * 3 / 4);
}
.imgbox__inner .image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

/*-------------------------*/
/* $Header
---------------------------*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.3s;
}
.header--colored{
    background-color: #fefefe;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.header--colored .menu-toggle span{
    background-color: #e79096;
}
.header--colored .navbar__social-bar .icon-btn{
    color: #e79096;
}
/* navbar 
---------------------*/
.navbar{
}
.navbar--collapse{
    margin-right: -16px;
    margin-left: -16px;
}
.navbar__social-bar{
    padding: 24px;
    float: left;
}
@media (max-width: 768px){
    .navbar__social-bar{
        padding: 12px;
    }
}
.navbar__social-bar .icon-btn{
    color: #fefefe;
}
.navbar__nav{
    float: right;
}
/* menu-toggle 
---------------------*/
.menu-toggle{
    display: block;
    padding: 24px;
    padding-top: 26px;
}
@media (max-width: 768px){
    .menu-toggle{
        padding: 12px;
        padding-top: 16px;
    }
}
.menu-toggle span{
    display: block;
    height: 3px;
    width:32px;
    background-color: #fefefe;
    margin-bottom: 8px;
    transition: all 0.3s;
}
.menu-toggle:hover span:nth-child(1){
    transform: translateX(-20%);
}
.menu-toggle:hover span:nth-child(3){
    transform: translateX(20%);
}

/* popup-menu 
---------------------*/
.popup-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
#popup-overlay:target{
    opacity: 1;
    visibility: visible;
}
.popup-menu__close{
    padding: 24px;
    width: 80px;
    height: 80px;
    float: right;
    transition: all 0.3s;
    margin-right: -16px;
}
@media (max-width: 768px){
    .popup-menu__close{
        padding: 12px;
        width: 56px;
        height: 56px;
    }
}
.popup-menu__close:hover{
    transform: rotate(180deg);
}
.popup-menu__close span{
    width: 32px;
    height: 3px;
    background-color: #f48b94;
    position: absolute;
    top: 50%;
    left: 50%;
}
.popup-menu__close span:nth-child(1){
    transform: translate(-50%,-50%) rotate(45deg);
}
.popup-menu__close span:nth-child(2){
    transform: translate(-50%,-50%) rotate(-45deg);
}
.popup-menu__item{
    display: block;
    text-align: center;
    font-family: 'Raleway', 'Helvetica', 'roboto',arial,sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #484848;
    line-height: 80px;
    transition: all 0.3s;
}
@media (max-width: 768px){
    .popup-menu__item{
        font-size: 24px;
        line-height: 48px;
    }
}
.popup-menu__item:hover{
    color: #f48b94;
}
/*-------------------------*/
/* $About
---------------------------*/
.hero{
    padding-top: 20vh;
    padding-bottom: 20vh;
}
@media (max-width: 480px){
    .hero{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
.hero__heading{
    font-family: arial, 'Raleway', 'Helvetica', 'roboto',sans-serif;
    font-size: 40px;
    font-weight: 900;
    color: #fefefe;
}
@media (max-width: 768px){
    .hero__heading{
        font-size: 32px;
    }
}
@media (max-width: 480px){
    .hero__heading{
        font-size: 18px;
        top: 50px;
    }
}
.hero__bg{
    position: absolute;
    top: -80px;
    width: 100%;
    height: 100%;
    background-image: url(../image/portrait.png);
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: right;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1140px;
}
@media (max-width: 768px){
    .hero__bg{
        background-size: 380px;
    }
}
@media (max-width: 480px){
    .hero__bg{
        top: -45px;
        background-size: 180px;
    }
}

/*-------------------------*/
/* $Quote
---------------------------*/
.quote{
    padding-top: 40px;
    padding-bottom: 40px;
}
@media (max-width: 768px){
    .quote{
        padding-top: 40px;
        padding-bottom: 40px;
    }
} 
.quote__content{
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.quote__icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(60deg,#f7d3b9,#e79096);
    text-align: center;
    line-height: 64px;
    font-size: 22px;
    color: #fefefe;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}

.quote__text span{
    text-align: center;
    font-size: 28px; 
    font-family: 'arial, Raleway', 'Helvetica', 'roboto', sans-serif;
    line-height: 36px;
    margin-bottom: 24px;
    background: linear-gradient(#f7d3b9,#e79096);
    background: -webkit-linear-gradient(#f7d3b9,#e79096);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.quote__name span{
    text-align: center;
    font-size: 20px; 
    font-family: 'arial, Raleway', 'Helvetica', 'roboto', sans-serif;
    background: linear-gradient(60deg,#f7d3b9,#e79096);
    background: -webkit-linear-gradient(60deg,#f7d3b9,#e79096);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
    
}
/*-------------------------*/
/* $Skill
---------------------------*/
.skill{
    padding-top: 80px;
    padding-bottom: 80px;
}

@media (max-width: 768px){
    .skill{
        padding-top: 40px;
        padding-bottom: 40px;
    }
} 
.skill-group1{
    padding-top: 80px;
    padding-bottom: 80px;
}
.skill-group2{
    padding-top: 80px;
    padding-bottom: 80px;
}

.skill_title span{
    text-align: center;
    font-size: 40px; 
    font-family: 'arial, Raleway', 'Helvetica', 'roboto', sans-serif;
    background: linear-gradient(60deg,#f7d3b9,#e79096);
    background: -webkit-linear-gradient(60deg,#f7d3b9,#e79096);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.skill_title-text span{
    font-weight: bold;
    text-align: center;
    font-size: 18px; 
    font-family: 'arial, Raleway', 'Helvetica', 'roboto', sans-serif;
    background: linear-gradient(#f7d3b9,#e79096);
    background: -webkit-linear-gradient(#f7d3b9,#e79096);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.bar-text{  
    font-weight: bold;
    font-size: 24px;
    font-family: 'arial, Raleway', 'Helvetica', 'roboto', sans-serif;
    color: #e79096
}

.bar{
    height: 15px;
    max-width: 100%;
    border: 2px solid #e79096;
    border-radius: 10px;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;

}

.bar span{
    height: 12px;
    float: left;
    background: linear-gradient(60deg,#f7d3b9,#e79096);
    border-radius: 10px;
    position: absolute;
    left:-1px;

}
.Photoshopbar{
    width: 95%;
    animation: photoshop 2s linear;

}

.Illustratorbar{
    width: 95%;
    animation: photoshop 2s linear;
}

.Sketchbar{
    width: 70%;
    animation: sketchbar 2s linear;
}

.Figmabar{
    width: 70%;
    animation: sketchbar 2s linear;
}

.Htmlbar{
    width: 60%;
    animation: htmlbar 2s linear;
}

.JavaScriptbar{
    width: 40%;
    animation: javaScriptbar 2s linear;
}


@keyframes photoshop {
0%{width :0%;}
100%{width :95%}}

@keyframes sketchbar {
0%{width :0%;}
100%{width :70%}}

@keyframes htmlbar {
0%{width :0%;}
100%{width :60%}}

@keyframes javaScriptbar {
0%{width :0%;}
100%{width :40%}}


/*-------------------------*/
/* $Experience
---------------------------*/
.experience{
    padding-top: 80px;
    padding-bottom: 80px;
}
@media(max-width: 768px){
    .experience{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
/* timeline
---------------------*/
.timeline-group{
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 120px;
}
.timeline{
    width: 3px;
    height: 100%;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.timeline-cards__row:nth-child(odd){
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}
.timeline-cards__row:nth-child(even){
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
}
.timeline-card{
    padding: 24px;
    background-color: #fefefe;
    border-radius: 5px;
    width: calc(50% - 24px);
    
    
}
.timeline-card:before{
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    
    background-color: #fefefe;
    position: absolute;
    top: 50%;
    
}
.timeline-cards__row:nth-child(odd) > :before{
    transform: translate(50%,-50%);
    right: -24px;
    overflow: hidden;
}
.timeline-cards__row:nth-child(even) > :before{
    transform: translate(-50%,-50%);
    left: -24px;
    overflow: hidden;
}
.timeline-card__years{
    font-size: 16px;
    font-family: 'arial'; 
    letter-spacing: 1px;
    line-height: 18px;
    color: #e79096
}
.timeline-card__line{
    width: 100%;
    height: 1px;
    border-radius: 2px;
    background-color: #e79096;
    border-radius: 2px;
    position: relative;
}

.timeline-card__logo{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 75%;
    transform: translateY(-50%);
    background: linear-gradient(60deg,#f7d3b9,#e79096);
}

.timeline-card__logo .image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 50%;
    max-height: 50%;
}
.timeline-card__title{
    top:25px;
    left: 80px;
    color: #e79096;
    font-family: 'Raleway','Helvetica', 'roboto', arial, sans-serif;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    
}
@media (max-width: 425px){
    .timeline-card__title{
        font-size: 14px;
        
    }
}

.timeline-card__text{
    left: 80px;
    top: 10px;
    color: #e79096;
    font-style: italic;
    font-size: 14px;
    
}
@media (max-width: 425px){
    .timeline-card__text{
        font-size: 10px;

    }


@media (max-width: 768px){
    .timeline{
        left: 0;
    }
    .timeline-card{
        width: calc(100% - 24px);
        margin-bottom: 24px;
    }
    .timeline-cards__row:last-child .timeline-card{
        margin-bottom: 0;
    }
    .timeline-cards__row:nth-child(odd){
        justify-content: flex-end;
    }
    .timeline-cards__row:nth-child(odd) > :before{
        transform: translate(-50%,-50%);
        left: -24px;
    }
}
/*-------------------------*/
/* $Work
---------------------------*/
.work{
    padding-top: 80px;
    padding-bottom: 120px;
}
@media (max-width: 768px){
    .work{
        padding-top: 40px;
        padding-bottom: 80px;
    }
}
/*work-list*/
---------------------
.work-list{
    padding-top: 80px;
}
.work-item{
    margin-bottom: 160px;
}
.work-item__text{
    padding-top: 24px;
}
.work-item__text--right{
    text-align: right;
}
.work-item__title{
    font-size: 40px;
    font-family: 'Raleway', 'Helvetica', 'roboto', arial, sans-serif;
    color: #484848;
}
.work-item__title--right{
    margin-right: -80px;
}
.work-item__title--left{
    margin-left: -80px;
}
.work-item__intro{
    font-size: 16px;
    line-height: 32px;
}
@media(max-width: 768px){
    .work-item{
        margin-bottom: 48px;
    }
    .work-item__text--right{
        text-align: left;
    }
    .work-item__title{
        font-size: 24px;
        line-height: 32px;
        margin-top: 0;
        margin-bottom: 8px;
    }
    .work-item__title--right{
        margin-right: 0;
    }
    .work-item__title--left{
        margin-left: 0;
    }
}
/*-------------------------*/
/* $Contact
---------------------------*/
.contact{
    padding-top: 80px;
    padding-bottom: 80px;
}
@media (max-width: 768px){
    .contact{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
/* form
---------------------*/
.form{
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],
.form textarea{
    padding: 8px 16px;
    display: inline-block;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 16px;
    background-color: inherit;
    color: #fefefe;
}
.form textarea{
    resize: none;
}
.form input[type="text"]:focus,
.form input[type="tel"]:focus,
.form input[type="email"]:focus,
.form textarea:focus{
    outline: 0;
    border: 1px solid #e881a7;
}
.form label{
    margin-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    color: #fefefe;
}
.form__btn-group{
    margin-top: 32px;
}

/* divide-text
---------------------*/
.divide-text{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 80px;
    font-size: 28px;
    line-height: 32px;
    color: #fefefe;
}

/* info
---------------------*/
.info{
    text-align: center;
}
.info__email{
    margin-bottom: 16px;
}
.info__email a{
    color: #e881a7;
    font-size: 18px;
    font-weight: 400;
}
.info__phone{
    margin-bottom: 16px;
}
.info__phone a{
    color: #fefefe;
    font-size: 24px;
    font-weight: 400;
}
.info__social-bar .icon-btn{
    color: #e881a7;
}


/*-------------------------*/
/* $footer
---------------------------*/
.footer{
    padding-top: 40px;
    padding-bottom: 40px;
}
.final-text{
    text-align: center;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    color: #fefefe;
}
.copyright{
    text-align: center;
    color: #fefefe;
    font-size: 14px;
}


/*-------------------------*/
/* $parallax graphic
---------------------------*/
[class^="graphic_"]{
    position: absolute;
}

.graphic_001 {bottom: 20%;left: 5%;}
.graphic_002 {top: 30%;left: 25%;}

.graphic_004{bottom: 20%;left: 2%;}
.graphic_005{bottom: 20%;left: 5%;}
.graphic_006{bottom: 50%;left: -5%;}
.graphic_007{top: 30px;left: 60%;}
.graphic_008{top: 10%;right: 10%;}
.graphic_009{bottom: 50%;left: 5%;}
.graphic_010{bottom: -10%;right: 20%;}
.graphic_011{top: 5%;left: -5%;}
.graphic_012{top: 12%;left: 5%;}
.graphic_013{top: 35%;right: 10%;}
.graphic_014{top: 50%;left: 10%;}
.graphic_015{top: 57%;left: 5%;}
.graphic_016{top: 71%;right: 10%;}
.graphic_017{top: 70%;right: 5%;}
.graphic_018{top: 84%;left: 5%;}
.graphic_019{top: 90%;left: 20%;}
.graphic_020{top: 0%;right: 20%;}
.graphic_021{top: 30%;left: 10%;}
.graphic_022{top: 35%;left: 10%;}
.graphic_023{top: 87%;right: 15%;}
.graphic_024{top: 70%;right: 10%;}


